INFURA_API_KEY=<INFURA_API_KEY>
PRIVATE_KEY=<PRIVATE_KEY>
ARBISCAN_API_KEY=<ARBISCAN_API_KEY>
MAINNET_RPC="https://arbitrum-mainnet.infura.io/v3/${INFURA_API_KEY}"
SEPOLIA_RPC="https://arbitrum-sepolia.infura.io/v3/${INFURA_API_KEY}"
OV_CONTRACT="0x4305c4bc521b052f17d389c2fe9d37cabeb70d54"
AIRDROPPER_ADDRESS="0x8efFf8E6A03508d7427F1FD62129567c784ACAC0"
OWNER_ADDRESS="0x8efFf8E6A03508d7427F1FD62129567c784ACAC0"
PROXY_ADDRESS="0x426cB483cad253aa7E514c6C2B76a3c215d9065b"
VERIFIER_ADDRESS="0x8efFf8E6A03508d7427F1FD62129567c784ACAC0"